/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    text-align: center;
}

header {
    background: url('../assets/images/headphones_hero_1.jpg') no-repeat center center/cover;
    padding: 20px 0;
    width: 1400px;
    height: 800px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    width: 1000.3px;
    height: 32px;
    top: 27.76px;
    left: 200.61px;
}

.logo {
    max-width: 150px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #FF6565;
}

.hero {
    width: 637px;
    height: 313px;
    margin-top: 322px;
    margin-left: 398px;
}

.hero h1 {
    font-size: 32px;
}

.hero p {
    font-size: 16px;
    margin-right: 30px;

}

.hero-button {
    background-color: #FF6565;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    transition: opacity 0.3s;
    margin-top: 60px;
}

.hero-button:hover {
    opacity: 0.9;
}

.hero-description {
    width: 730px;
    height: 104px;
    padding: 0 20px;
    margin-top: 50px;
    font-size: 16px;
}

/* Mobile Styles */
@media (max-width: 480px) {
    .hero h1 {
        font-size: 24px;
    }
    .hero p {
        font-size: 16px;
    }
    .hero-description {
        font-size: 14px;
    }
}
